<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/images/logo-32px.png" alt="SonikPod"/>
  </a>
  <!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
        Home
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
        Search
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/cirquaremedia/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div> -->
</nav>